@import 'settings';

.field {
  display: none;
}

.label {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  text-align: center;
  background-color: lighten($color-bg, 10%);
  cursor: pointer;
}

.field:checked + .label {
  background-color: $color-bg-alt;
  color: $color-text-alt;
}
